<link rel="Shortcut Icon" type="image/x-icon" href="{{ url_for('static',filename='img/HPDS.png') }}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosanstc.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='bg.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static',filename='twf.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static',filename='./dist/style.css') }}"/>
