.twf{
    font-family:'Noto Sans TC' ;
}

.twf12{
    font-size: 0.75rem !important;
    font-family:'Noto Sans TC' !important;
}

.twf14{
    font-size: 0.875rem !important;
    font-family:'Noto Sans TC' !important;
}

.twf16{
    font-size: 1rem !important;
    font-family:'Noto Sans TC' !important;
}

.twf18{
    font-size: 1.125rem !important;
    font-family:'Noto Sans TC' !important;
}

.twf19{
    font-size: 1.1875rem !important;
    font-family:'Noto Sans TC' !important;
}

.twf20{
    font-size: 1.25rem !important;
    font-family:'Noto Sans TC' !important;
}

.twf24{
    font-size: 1.5rem !important;
    font-family:'Noto Sans TC' !important;
}

.twf28{
    font-size: 1.75rem !important;
    font-family:'Noto Sans TC' !important;
}

.twf32{
    font-size: 2rem !important;
    font-family:'Noto Sans TC' !important;
}

.twf48{
    font-size: 3rem !important;
    font-family:'Noto Sans TC' !important;
}
