<!DOCTYPE html>
<html lang="en">
    <head>
        <title>專題選組預測系統</title>
        {% include "global/css-list.html" %}
    </head>
    <body>
        {% include "global/javascript-list.html" %}
        {% include "global/navbar.html" %}

        <div id="jumbotron" class="view">
            <div class="custom-text-center text-light">
                <div class="twf48">
                    電力‧控制‧資通<br>
                    不知道該選擇哪一組嗎？<br>
                    那就來預測看看吧！<br>
                </div>

                <div class="col ml-auto mr-auto">
                    <button type="submit" class="btn btn-info twf28 font-weight-bold"
                        onclick="$('html, body').animate({scrollTop: $('#input_data').offset().top}, 500);">
                        我要預測
                    </button>
                </div>
            </div>
        </div>

        <div id="input_data" style="background-color: rgba(255, 255, 255, 0.8); width: 100%; position: relative; z-index: 100;">
            <div class='container-fluid'>
                <div class='row justify-content-center'>
                    <div class="col-12 mt-3 mb-3">
                        <div class="card">
                            <div class="card-header card-header-text card-header-info bg-info">
                                <div class="card-text">
                                    <div class="card-title twf32 text-center text-light">請填寫以下資料</div>
                                </div>
                            </div>
                            <form id="score" action="{{ url_for('result') }}" enctype="multipart/form-data" class="col-12 was-validated" method="post">
                                <div class="col-12" id="title">
                                    <div class='row mt-2 mb-2'>
                                        <div class='col-sm-12 col-md-12 col-lg-6'>
                                            <div class="bmd-form-group">
                                                <label class="twf18">入學學年</label>
                                                <select class="form-control selectpicker twf16" data-style="btn btn-link" name="入學學年" required>
                                                    <option class="twf16" value="">請選擇</option>
                                                    <option class="twf16" value="103">103</option>
                                                    <option class="twf16" value="104">104</option>
                                                </select>
                                                <div class="invalid-feedback">未選擇入學學年</div>
                                            </div>
                                        </div>

                                        <div class='col-sm-12 col-md-12 col-lg-6'>
                                            <div class="bmd-form-group">
                                                <label class="twf18">班級</label>
                                                <select class="form-control selectpicker twf16" data-style="btn btn-link" name="班級" required>
                                                    <option class="twf16" value="">請選擇</option>
                                                    <option class="twf16" value="1">甲班</option>
                                                    <option class="twf16" value="2">乙班</option>
                                                    <option class="twf16" value="3">丙班</option>
                                                </select>
                                                <div class="invalid-feedback">未選擇班級</div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>

                                    <label class="twf18">必修科目成績</label>
                                    <div class='row mt-1 mb-2'>
                                        {% for title in term %}
                                        <div class="col-sm-12 col-md-12 col-lg-4">
                                            <div class="card">
                                                <div class="card-header card-header-text twf18 text-center bg-info text-light">
                                                    {{ title }} 必修科目
                                                </div>

                                                <div class="card-body twf16">
                                                    {% for key, val in subject[title].items() %}
                                                    <div class="mb-2">
                                                        <span> {{ key }}</span>
                                                        <input class="form-control" type="number" min="0" max="100"
                                                        id={{ val }} name={{ val }} oninput="inputNum(this.id)"
                                                            pattern="[0-9]{1,3}" required>
                                                        <div class="invalid-feedback">未填成績</div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <button type="submit" class="btn btn-outline-info twf28 font-weight-bold">點我進行預測</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "global/animate-background.html" %}
        <script src="{{ url_for('static',filename='./main.js') }}"></script>
    </body>
</html>
